In [1]:
import pandas as pd

In [2]:
train_df=pd.read_csv('./data/train.csv')
test_df=pd.read_csv('./data/test.csv')
sample_df=pd.read_csv('./data/sample_submission.csv')

In [3]:
sample_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8556497 entries, 0 to 8556496
Data columns (total 2 columns):
 #   Column  Dtype
---  ------  -----
 0   id      int64
 1   target  int64
dtypes: int64(2)
memory usage: 130.6 MB

In [4]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19965159 entries, 0 to 19965158
Data columns (total 10 columns):
 #   Column                  Dtype
---  ------                  -----
 0   tr_id                   int64
 1   tr_src                  int64
 2   tr_dst                  int64
 3   all_rtts                object
 4   tr_attempts             int64
 5   total_probes_sent       int64
 6   total_replies_last_hop  int64
 7   route_changed           int64
 8   date_index              int64
 9   seconds_since_start     int64
dtypes: int64(9), object(1)
memory usage: 1.5+ GB

In [5]:
train_df.describe()

,tr_id,tr_src,tr_dst,tr_attempts,total_probes_sent,total_replies_last_hop,route_changed,date_index,seconds_since_start
count,1.996516e+07,1.996516e+07,1.996516e+07,19965159.0,1.996516e+07,1.996516e+07,1.996516e+07,1.996516e+07,1.996516e+07
mean,9.982579e+06,5.277207e+01,1.318230e+00,3.0,1.440754e+00,1.451450e+00,1.851075e-02,5.702297e+01,4.883332e+06
std,5.763445e+06,2.661428e+01,1.349349e+00,0.0,2.084357e+00,2.460060e+00,1.347891e-01,2.930865e+01,2.532653e+06
min,0.000000e+00,0.000000e+00,0.000000e+00,3.0,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00
25%,4.991290e+06,3.100000e+01,1.000000e+00,3.0,1.000000e+00,1.000000e+00,0.000000e+00,3.900000e+01,3.358256e+06
50%,9.982579e+06,5.100000e+01,1.000000e+00,3.0,1.000000e+00,1.000000e+00,0.000000e+00,5.900000e+01,5.019515e+06
75%,1.497387e+07,7.700000e+01,1.000000e+00,3.0,1.000000e+00,1.000000e+00,0.000000e+00,8.100000e+01,6.960632e+06
max,1.996516e+07,1.210000e+02,1.200000e+01,3.0,5.000000e+01,7.700000e+01,1.000000e+00,1.070000e+02,9.165453e+06

In [6]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8556497 entries, 0 to 8556496
Data columns (total 9 columns):
 #   Column                  Dtype
---  ------                  -----
 0   tr_id                   int64
 1   tr_src                  int64
 2   tr_dst                  int64
 3   all_rtts                object
 4   tr_attempts             int64
 5   total_probes_sent       int64
 6   total_replies_last_hop  int64
 7   date_index              int64
 8   seconds_since_start     int64
dtypes: int64(8), object(1)
memory usage: 587.5+ MB

In [7]:
test_df.describe()

,tr_id,tr_src,tr_dst,tr_attempts,total_probes_sent,total_replies_last_hop,date_index,seconds_since_start
count,8.556497e+06,8.556497e+06,8.556497e+06,8556497.0,8.556497e+06,8.556497e+06,8.556497e+06,8.556497e+06
mean,2.424341e+07,5.106430e+01,1.613628e+00,3.0,1.557489e+00,1.565280e+00,3.587331e+01,3.056665e+06
std,2.470048e+06,2.712130e+01,1.688723e+00,0.0,2.259388e+00,2.661687e+00,3.378623e+01,2.918958e+06
min,1.996516e+07,0.000000e+00,0.000000e+00,3.0,1.000000e+00,1.000000e+00,5.000000e+00,3.952900e+05
25%,2.210428e+07,2.900000e+01,1.000000e+00,3.0,1.000000e+00,1.000000e+00,1.600000e+01,1.332759e+06
50%,2.424341e+07,4.800000e+01,1.000000e+00,3.0,1.000000e+00,1.000000e+00,2.200000e+01,1.892932e+06
75%,2.638253e+07,7.600000e+01,1.000000e+00,3.0,1.000000e+00,1.000000e+00,3.500000e+01,2.947117e+06
max,2.852166e+07,1.240000e+02,1.200000e+01,3.0,4.600000e+01,7.700000e+01,1.100000e+02,9.503953e+06

In [8]:
train_df['all_rtts'].unique()

array(['[210.087]', '[71.229]',
       '[26.712, 26.833, 26.793, 26.726, 26.795, 50.699]', ...,
       '[136.773]', '[136.526]', '[136.669]'],
      shape=(180323,), dtype=object)

In [9]:
import re
print(train_df['all_rtts'].head(20))
def mean_str(str1):
    mean_sum=0
    n=0
    #str_num=re.split('[ |] ', str1)
    str1=str1.replace(']','')
    str1=str1.replace('[','')
    list1=str1.split(',')
    for item in list1:
        #item=item.replace(']','')
        #item=item.replace('[','')
        mean_sum+=float(item)
        n+=1
        #print(str1,' ',mean_sum,'',n)
    return mean_sum/(n+(n==0))

temp=[]
for item in train_df['all_rtts']:
    temp.append(mean_str(item))

0     [210.087]
1     [210.087]
2     [210.087]
3     [210.087]
4     [210.087]
5     [210.087]
6     [210.087]
7     [210.087]
8     [210.087]
9     [210.087]
10     [71.229]
11     [71.229]
12     [71.229]
13     [71.229]
14     [71.229]
15     [71.229]
16     [71.229]
17     [71.229]
18     [71.229]
19     [71.229]
Name: all_rtts, dtype: object

In [10]:
train_df['mean_rtt']=temp

In [11]:
#print(train_df['tr_attempts'].unique())

In [12]:
numeric_columns=[]
for column in train_df.columns:
    if(train_df[column].dtype!='object'):
        numeric_columns.append(column)

In [13]:
pearson_cor=train_df[numeric_columns].corr(method='pearson', min_periods=1, numeric_only=True)
pearson_cor

,tr_id,tr_src,tr_dst,tr_attempts,total_probes_sent,total_replies_last_hop,route_changed,date_index,seconds_since_start,mean_rtt
tr_id,1.000000,0.020946,-0.218817,NaN,-0.057942,-0.053953,-0.019622,0.861312,0.861353,-0.105586
tr_src,0.020946,1.000000,0.082499,NaN,0.027451,0.012099,-0.002081,0.039190,0.039203,-0.026578
tr_dst,-0.218817,0.082499,1.000000,NaN,0.115455,0.074139,0.036286,-0.266830,-0.266817,0.259926
tr_attempts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
total_probes_sent,-0.057942,0.027451,0.115455,NaN,1.000000,0.964354,0.021234,-0.077337,-0.077333,-0.084827
total_replies_last_hop,-0.053953,0.012099,0.074139,NaN,0.964354,1.000000,0.020282,-0.066966,-0.066965,-0.055548
route_changed,-0.019622,-0.002081,0.036286,NaN,0.021234,0.020282,1.000000,-0.022897,-0.022911,0.023108
date_index,0.861312,0.039190,-0.266830,NaN,-0.077337,-0.066966,-0.022897,1.000000,0.999951,-0.111649
seconds_since_start,0.861353,0.039203,-0.266817,NaN,-0.077333,-0.066965,-0.022911,0.999951,1.000000,-0.111669
mean_rtt,-0.105586,-0.026578,0.259926,NaN,-0.084827,-0.055548,0.023108,-0.111649,-0.111669,1.000000

In [14]:
spearman_cor=train_df[numeric_columns].corr(method='spearman', min_periods=1, numeric_only=True)
spearman_cor

,tr_id,tr_src,tr_dst,tr_attempts,total_probes_sent,total_replies_last_hop,route_changed,date_index,seconds_since_start,mean_rtt
tr_id,1.000000,0.023512,-0.212151,NaN,-0.080879,-0.053410,-0.019622,0.898908,0.899135,-0.075140
tr_src,0.023512,1.000000,-0.018121,NaN,0.038880,0.027131,-0.002593,0.038250,0.038247,-0.042472
tr_dst,-0.212151,-0.018121,1.000000,NaN,0.222864,0.150692,0.033464,-0.276835,-0.276827,0.087479
tr_attempts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
total_probes_sent,-0.080879,0.038880,0.222864,NaN,1.000000,0.917170,0.025174,-0.103893,-0.103863,-0.167750
total_replies_last_hop,-0.053410,0.027131,0.150692,NaN,0.917170,1.000000,0.021205,-0.075695,-0.075669,-0.232689
route_changed,-0.019622,-0.002593,0.033464,NaN,0.025174,0.021205,1.000000,-0.022564,-0.022583,0.016446
date_index,0.898908,0.038250,-0.276835,NaN,-0.103893,-0.075695,-0.022564,1.000000,0.999920,-0.076078
seconds_since_start,0.899135,0.038247,-0.276827,NaN,-0.103863,-0.075669,-0.022583,0.999920,1.000000,-0.076148
mean_rtt,-0.075140,-0.042472,0.087479,NaN,-0.167750,-0.232689,0.016446,-0.076078,-0.076148,1.000000

In [15]:
def drop_columns(data):
    new_data=data.drop('date_index',axis=1)
    new_data=new_data.drop('tr_src',axis=1)
    new_data=new_data.drop('tr_attempts',axis=1)
    return new_data

In [16]:
train_df=drop_columns(train_df)

In [17]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19965159 entries, 0 to 19965158
Data columns (total 8 columns):
 #   Column                  Dtype
---  ------                  -----
 0   tr_id                   int64
 1   tr_dst                  int64
 2   all_rtts                object
 3   total_probes_sent       int64
 4   total_replies_last_hop  int64
 5   route_changed           int64
 6   seconds_since_start     int64
 7   mean_rtt                float64
dtypes: float64(1), int64(6), object(1)
memory usage: 1.2+ GB